{% extends 'base.html.twig' %}

{% block title %}Mascotas en la base de datos
{% endblock %}

{% block body %}
	<div class="w-4/5 m-auto text-center">
		<div class="py-12 mt-10 grid grid-cols-2 lg:grid-cols-4 gap-2 lg:gap-4">
			{% for pet in pets %}
				<div class="text-center">
					<img class="h-[19rem] rounded-lg border-4 border-slate-500" src="{{ asset("uploads/files/#{pet.photo}") }}" alt="{{ pet.name }}">
					<p>{{ pet.status }}</p>
					<p>Reportado el
						{{ pet.createdat|date('d-m-Y') }}</p>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
